@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
}

#certificado1,
#certificado2 {
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#certificado1 {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/16071138-fundo-de-espaco-de-copia-de-tecnologia-de-robo-vetor.jpg');
}

#certificado2 {
    background-image: url('https://www.google.com/search?q=pygames&client=ms-android-motorola-rvo3&hs=kXf&sa=X&sca_esv=a4f5fd6faf7ec072&sxsrf=ANbL-n7TFKyBIjiTyFj1PTm9YRjOQe7_SQ:1780396996763&udm=2&fbs=ADc_l-acAb_3MMOAUx0zmbUpgBqRiigBgL2I_pgQa-94zvB054Dys3s2x_Qm_GJcU2DlSXgs4i471_5vbbrE24Q_ZqrCyhilsPNhxfAu1wD3b9jpYfNAyTiqGpQ9M2EThp4zdpyEQ5WXtHjGZkZNgUHHPpzl72_CFdRJ4SUSy84xTPF_ZAJ0jtrq6CWGGyJdx2fiQAms3ZAUe3eaLnGB2WxdVDuT4drXEsMJ_wsYppw7kfbQ94_D5ac&ved=0ahUKEwirmrTUr-iUAxWypJUCHZuXGXkQtKgLCCA&biw=411&bih=807&dpr=1.75#sv=CAMSVxoyKhBlLW85ay01aS11S3Z5WmJNMg5vOWstNWktdUt2eVpiTToOS1RPZHhlXzlrcHJJa00gBCoXCgFzEhBlLW85ay01aS11S3Z5WmJNGAEwAUoECAEQAhgHIOPutcAESggQAhgBIAIoAQ');
}

img {
    display: block;
    margin: 50px auto;
    max-width: 90%;
    height: auto;
}

footer {
    background-color: rgb(139, 139, 223);
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
