@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    width: 100%;
}

#certificado1,
#certificado2 {
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#certificado1 {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/16071138-fundo-de-espaco-de-copia-de-tecnologia-de-robo-vetor.jpg');
}

#certificado2 {
    background-image: url('https://opensource.com/sites/default/files/lead-images/header.png');
}

img {
    display: block;
    margin: 50px auto;
    max-width: 90%;
    height: auto;
}

footer {
    background-color: rgb(139, 139, 223);
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
